# Importing libraries

In [2]:
import pandas as pd
import numpy as np
import os

# Importing data

In [3]:
# Path shortcut
path = r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 4/07-20-2023 Instacart Basket Analysis'

In [4]:
# Import products data
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
df_prods

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [7]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [9]:
#Changing the product_id column from a number to a string
df_prods['product_id'] = df_prods['product_id'].astype('str')

In [10]:
#Changing the aisle_id column from a number to a string
df_prods['aisle_id'] = df_prods['aisle_id'].astype('str')

In [11]:
#Changing the department_id column from a number to a string
df_prods['department_id'] = df_prods['department_id'].astype('str')

In [12]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  object
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  object
 4   department_id  49672 non-null  object
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.3+ MB

In [14]:
#Exporting the orders data
df_prods.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))