In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Import data

# Path shortcut
path = r'/Users/lynnsey/Desktop/Bootcamp/Tasks/Immersion/Task 4/07-20-2023 Instacart Basket Analysis'

In [5]:
# Import prior orders data

df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [12]:
# Check first 5 rows to see what column names are

df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Check to see what type of data is stored in each column

df.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [13]:
#Check how many rows and columns

df.shape

(32434489, 4)

In [16]:
#Check for missing data

df.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### no missing data

In [18]:
# check for duplicates

df_dups = df[df.duplicated()]

In [19]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

### no duplicates